project:
  type: website
  output-dir: docs

website:
  navbar:
    left:
      - href: pages/index.qmd
        text: Home
      - href: pages/projects_landing.qmd
        text: Projects


format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



