project:
  type: website
  output-dir: docs

website:
  navbar:
    left:
      - href: index.qmd
        text: Projects
      - href: pages/about.qmd
        text: About Me


format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



